<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly.
    Please make a free/basic account on https://www.pythonanywhere.com/.  We will show you what to use here during the workshop.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to install it and the data used in the lesson in the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson</a>.
  </p>
  <p> We will be using this software during the workshop, but it will be a small portion, so if installation fails for you, just watching the workshop should be enough to get the most important take aways.</p>
</div>

</div>
